<% provide(:title, "Home") %>

<div class="center jumbotron">
    <h2> Welcome to the Quilt-A-Long App</h2>
</div>
    <%= link_to image_tag("noun_quilt block_159668.svg", alt: "QAL Logo", width: "100") %>

        <a class="navbar-brand" href="<%= sign_up_url %>"/>Sign Up</a>
        <a class="navbar-brand" href="<%= log_in_url %>"/>Log In</a>
