<h1> Quilt-A-Longs </h1>

<%= link_to "Add New | ", new_qal_path %> 
<%= link_to "My Profile", current_user %> 

    <% @qals.each do |q| %>
        <div class="user-qals-detail"><br>
            <%= link_to q.qal_name, qal_path(q) %><br>
        </div>
    <% end %>
   
