<% provide(:title, @user.name) %>

<h1> Hi, <%= @user.name %> </h1>

    <aside>
        <h4>Company Name<h4>
        <h4>Quilting Style</h4>

        <button> <%= link_to "Edit my information", edit_user_path %> </button>
    </aside>

    <section>
        <h3>My Quilt-A-Longs</h3>

            

        <button> <%= link_to "Add a new Quilt-A-Long", new_qal_path %> </button>
    </section>

    


