<h1> Quilters </h1>

<%= link_to "Add New", new_quilter_path %>

<% @quilters.each do |quilter| %><br>
<div class="user-quilters-detail">
    <%= link_to quilter.quilter_name, quilter_path(quilter) %>
    <p>Quilt-A-Long:</p>
        <%= quilter.qal_id %>

    <p>Finished quilts:</p>
    <% quilter.quilts.each do |quilt| %>
    <%= quilt.quilt_name %>
    
    <% end %>
    </div>
    <% end %>
