<%= link_to "Add a Quilter", new_quilter_path %><br>
<%= link_to "Add a Quilt", new_quilt_path %>

<h1><%= @quilter.quilter_name %></h1>

<h3> Participanted in these Quilt-A-Longs </h3>

<h3> Has made these quilts: </h3>
