@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
padding-top: 60px;
background-color: white;
font-size: 16px;
}

section {
    overflow: auto;
}

.container {
    background-color: white;
}

.jumbotron {
    background-color: white;
    color: lightseagreen;
    font-size: 3em;
    font-family:monospace;
}
.navbar  {
    background-color: white;
}

.btn {
    font-size: .5em;
    color: black;
    background-color: lightsalmon;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;

    h1 {
        margin-bottom: 10px;
    }
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: lightseagreen;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border: 1px, solid #eaeaea;
    color: #878;
    a {
    color: #555;
    &:hover {
        color: #222;
    }
}
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
        float: left;
        margin-left: 1em;
        }
    }   
}