<footer class="footer">
    <small>
    Created by <a href="https://charliepops.com">Charlie-Pops-Studio</a>
    Quilt block by Studio Fibonacci from the Noun Project
    </small>

    <nav>
        <ul>
            <li><%= link_to '/faq' %></li>
            <li><%= link_to '/about' %></li>
        </ul>
    </nav>
</footer>
