<footer class="footer">
    
    <nav class="footer-nav">

    <small>
        Created by <a href="https://www.instagram.com/charlie_pops_studio/">Charlie-Pops-Studio</a>
    </small>
    <small>
        Quilt block by Studio Fibonacci from <a href="https://thenounproject.com">the Noun Project</a>
    </small>
        <ul>
            <li><%= link_to "FAQ", faq_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
        </ul>
    </nav>
</footer>
