<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="nav-container">
      <%= link_to "Quilt-A-Long",root_path, id: "logo" %>
    </div>

    <nav>
        <% if logged_in? %>
            <%= link_to "Logout", logout_path %>
            <% else %>
            <%= link_to "Signup", signup_path %>
            <%= link_to "Login", login_path %>

            <% end %>
        </nav>
</header>