<header class="navbar navbar-inverse navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Quilt-A-Long", '#', id: "logo" %>
        <nav>
            <ul class="navbar navbar-nav navbar-right">
                <li class="navbar-brand"> <%= link_to "Home", root_path %></li>
                <li class="navbar-brand"> <%= link_to "Sign Up", signup_path %></li>
                <li class="navbar-brand"> <%= link_to "Log In", login_path %></li>
            </ul>
        </nav>
    </div>
</header>