<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
        
        <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
        <a class="navbar-brand" href="<%= sign_up_url %>"/>Sign Up</a>
        <a class="navbar-brand" href="<%= log_in_url %>"/>Log In</a>
        
        </div>
      </div>
    </div>